:root {
  --accent-gradient: linear-gradient(to top right,
      rgb(0 230 145) 0%,
      rgb(0 229 146) 9.1%,
      rgb(0 226 150) 16.8%,
      rgb(0 221 156) 23.5%,
      rgb(0 214 163) 29.2%,
      rgb(0 206 171) 34.4%,
      rgb(0 197 180) 39.1%,
      rgb(0 187 188) 43.6%,
      rgb(0 176 196) 48.2%,
      rgb(0 165 204) 53%,
      rgb(0 153 209) 58.3%,
      rgb(0 142 218) 64.3%,
      rgb(0 132 223) 71.3%,
      rgb(0 123 227) 79.4%,
      rgb(0 117 229) 88.9%,
      rgb(0 115 230) 100%);
}

html {
  font-family: system-ui, sans-serif;
}

body {
  background-color: rgb(26 32 44);
  color: rgb(250 250 250);
}

a { 
  color: rgb(250 250 250);

  &:hover {
    color: rgb(0 225 238);
  }
}

footer {
  text-align: center;
}

table {
  border-collapse: collapse;
}

td {
  padding-block: .25rem;
  padding-inline: .5rem;
  border: 1px solid #ccc;
  text-align: center;
}

.container {
  max-inline-size: 768px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.icon {
  display: flex;
  align-items: center;
}

.icon::before {
  content: "";
  mask: no-repeat center;
  mask-size: contain;
  background-color: currentColor;
}

.small::before {
  width: 1rem;
  height: 1rem;
}

.medium::before {
  width: 2rem;
  height: 2rem;
}

.large::before {
  width: 3rem;
  height: 3rem;
}

.oriverk::before {
  border: 1px solid transparent;
  border-radius: 30% 70% 59% 41% / 30% 26% 74% 70%;
  background-image: var(--accent-gradient);
}

.github::before {
  mask-image: url("/assets/github.svg");
}

.x::before {
  mask-image: url("/assets/x.svg");
}

